extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="nosotros imagen").img-fluid
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempus ante vel turpis luctus, in imperdiet ante feugiat. Nulla facilisi. Sed feugiat urna bibendum sapien consectetur ornare. Vivamus aliquam nibh justo, sed porta lacus gravida a. Proin ultrices tortor id auctor finibus. Nullam fermentum cursus nunc in auctor. Sed et ex non nibh placerat pharetra lacinia laoreet nunc. Nulla iaculis efficitur iaculis. Etiam elementum nibh volutpat, eleifend ligula sed, auctor mi. Donec velit orci, commodo commodo metus non, pellentesque luctus eros. Donec aliquet sit amet ante a bibendum. Curabitur sodales ac est et facilisis. Quisque dapibus arcu nec odio posuere rutrum. Proin condimentum magna orci, eu tristique enim tempus vitae.

                p ultrices neque justo, a feugiat enim ultrices vitae. Morbi enim sem, scelerisque id magna non, blandit placerat tellus. Quisque sagittis a mauris at mattis. Vestibulum cursus sagittis dui, non lobortis odio consectetur sed. Morbi ut eleifend justo, vel aliquet enim. Aliquam non mauris id orci feugiat luctus. Mauris sed pulvinar dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut massa justo, condimentum eget urna aliquet, accumsan dapibus magna. Curabitur nec tincidunt nunc. Integer id mauris elementum, eleifend erat sed, vehicula sem. Donec non turpis finibus, aliquam eros nec, vehicula magna. Praesent sed tellus eget lectus hendrerit fermentum nec vitae ex. Suspendisse potenti. Proin ut neque at leo semper interdum quis eget sapien. Vivamus nibh mi, ornare eget elit ut, eleifend lacinia leo.

                p eget elit vel dolor viverra tincidunt ac eget elit. Ut porta pellentesque erat vel ultricies. Phasellus in orci nec purus placerat ultrices. Vivamus convallis convallis lorem at cursus. Duis bibendum arcu a tristique tempus. Fusce eu gravida tellus, eget consequat felis. Nulla volutpat ullamcorper lacus, sit amet lacinia felis sollicitudin non. Nulla pretium interdum mi, consectetur eleifend ipsum ultricies id. Morbi quis ultricies massa. Mauris viverra mattis tortor sed consequat. Maecenas rhoncus sem vel gravida lacinia. Phasellus id iaculis mi, eu iaculis sem. Nam rhoncus lectus quis ante iaculis, vel viverra nisl tristique. Duis nec rutrum felis.

    .listado-iconos     
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="imagen seguridad").img-fluid.mb-4
                    h2.mb-4 Seguridad 
                    p eget elit vel dolor viverra tincidunt ac eget elit. Ut porta pellentesque erat vel ultricies. Phasellus in orci nec purus placerat ultrices. Vivamus convallis convallis lorem at cursus. Duis bibendum arcu a tristique tempus. Fusce eu gravida tellus, eget consequat felis.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="imagen destinos").img-fluid.mb-4
                    h2.mb-4 Mejores Destinos 
                    p eget elit vel dolor viverra tincidunt ac eget elit. Ut porta pellentesque erat vel ultricies. Phasellus in orci nec purus placerat ultrices. Vivamus convallis convallis lorem at cursus. Duis bibendum arcu a tristique tempus. Fusce eu gravida tellus, eget consequat felis.
                .col-md-4
                    img(src="img/icono_precio.svg", alt="imagen precios").img-fluid.mb-4
                    h2.mb-4 Mejores Precios 
                    p eget elit vel dolor viverra tincidunt ac eget elit. Ut porta pellentesque erat vel ultricies. Phasellus in orci nec purus placerat ultrices. Vivamus convallis convallis lorem at cursus. Duis bibendum arcu a tristique tempus. Fusce eu gravida tellus, eget consequat felis.



